<%- include("./partials/head") %>
<main>
  <a href="/">Voltar</a>
  <h1>Lista de filmes</h1>
    <a href="/film/create"><button type="button">Adicionar Filme</button></a>
    <br>
    <br>
    <br>
    <hr>
    
      
  <tbody> 
     
      <div class ="container-filmcard"> 
      <% for(let film of films){ %>
        <br>
        
          

           
        <img src="/images/Img.png"/>
           
        <article class="filminfo">    
          <p>      
            <p>id: <%= film.id %></p>
            <h2>Filme: <%= film.nome %></h2>
            <p>Descrição: <%= film.descricao %></p>
            <p>Genero: <%= film.genero %></p>
            <p>Classificação: <%= film.classificacao %></p>
            <p>Produtora: <%= film.produtora %></p>
            <p>Ano: <%= film.ano %></p>
            <p>Diretor: <%= film.diretor %></p>
            <p>Rating: <%= film.rating %></p>
            <p>
              <br>
		      
              <a href="/film/edit/<%= film.id %>"><button type="button">Editar</button></a>
              <a href="/film/delete/<%= film.id %>"><button type="button">Deletar</button></a>
           
		      
			        <a href="/film/<%= film.id %>"><button type="button">Visualizar</button></a>
              <!-- <a href="/film/edit/<%= film.id %>"><button type="button">Avaliar</button></a>
           -->
            </p>
        </article> 
             
           
          
        </p>
       
      <br>
      <hr>
      </div>
      <% } %>
  </tbody>    
     
   
</main>
<%- include("./partials/footer") %>