<%- include("./partials/head") %>
<main>
  <a href="/filmsavalia">Voltar</a>
  <h1>Avaliar filme</h1>
  

  <div class ="container-filmcard"> 
    <br>
                        
                        
    <img src="/images/Img.png"/>

    <article class="filminfo">
      <p>id: <%= film.id %></p>
      <p>Filme: <%= film.nome %></p>
      <p>Descrição: <%= film.descricao %></p>
      <p>Genero: <%= film.genero %></p>
      <p>Classificação: <%= film.classificacao %></p>
      <p>Produtora: <%= film.produtora %></p>
      <p>Ano: <%= film.ano %></p>
      <p>Diretor: <%= film.diretor %></p>
      <form class="cardp3" action="/filmsavalia/<%= film.id %>?_method=PUT" method="post">
        <div class="form-group">
          <label for="rating">Rating:</label>
          <input type="text" class="form-control" id="rating" name="rating" value="<%= film.rating %>">
        </div>
        <button class="btn btn-success" type="submit">Avaliar</button>
      </form>
    </article>

  </div>
<%- include("./partials/footer") %>