<%- include("./partials/head") %>
<main>
  <a href="/">Home</a>
  <h1>Visualizar filme</h1>
  
  <div>
    <h2><%= film.nome %></h2>
    <p><%= film.descricao %></p>
    <p><%= film.ratings %></p>
    <p><%= film.categoria %></p>
  </div>
</main>
<%- include("./partials/footer") %>