<%- include("./partials/head") %>
<main>
  <a href="/">Home</a>
  <h1>Lista de filmes</h1>
  <a href="/film/create"><button type="button">Adicionar Filme</button></a>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Filme</th>
        <th>Descrição</th>
        <th>Ratings</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% for(let film of listfilms){ %>
        <tr>
          <td><%= film.id %></td>
          <td><%= film.nome %></td>
          <td><%= film.descricao %></td>
          <td><%= film.ratings %></td>
          <td><%= film.categoria %></td>
          <td>
		      
            <a href="/film/edit/<%= film.id %>"><button type="button">Editar</button></a>
            <a href="/film/delete/<%= film.id %>"><button type="button">Deletar</button></a>
           
		      
			      <a href="/film/<%= film.id %>"><button type="button">Visualizar</button></a>
            <a href="/film/edit/<%= film.id %>"><button type="button">Avaliar</button></a>
          
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</main>
<%- include("./partials/footer") %>