<%- include("./partials/head") %>
<main>
  <a href="/">Home</a>
  <h1>Lista de filmes</h1>
  
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Filme</th>
        <th>Descrição</th>
        <th>Ratings</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% for(let filmslist of listfilms1){ %>
        <tr>
          <td><%= filmslist.id %></td>
          <td><%= filmslist.nome %></td>
          <td><%= filmslist.descricao %></td>
          <td><%= filmslist.ratings %></td>
          <td><%= filmslist.categoria %></td>
          
        </tr>
        
      <% } %>
      
    </tbody>
    
  </table>
</main>
<%- include("./partials/footer") %>