<%- include("./partials/head") %>
<%- include("./partials/header") %>

    <main class="form-container">
            <br>
            <br>
            <br>
            <br>
            <h3>
                Track films you’ve watched.
                Save those you want to see.
                Tell your friends what’s good.</h3>

            
            <ul>
                <div class ="container-filmcard"> 
                <hr>
                
                <% films.forEach(film => { %>
                    <li>
                        <br>
                         
                        
                        
                        <img src="/images/Img.png"/>
                         

                        <article class="filminfo">
                            <br>
                            <br>
                            <h2>Filme: <%= film.nome %></h2>
                            <p>Descrição: <%= film.descricao %></p>
                            <p>Genero: <%= film.genero %></p>
                            <p>Classificação: <%= film.classificacao %></p>
                            <p>Produtora: <%= film.produtora %></p>
                            <p>Ano: <%= film.ano %></p>
                            <p>Diretor: <%= film.diretor %></p>
                            <p>Rating: <%= film.rating %></p>
                            <br>
                            
                        </article>
                    </li>
                    <br>
                </div>
                <hr>

                <% }) %>
            </ul>    

            

            
    

    </main>

    
                
</body>
<%- include("./partials/footer") %>